<ion-header [translucent]="true">
  <ion-toolbar class="glass-header">
    <ion-title>Login Francofonía</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container animate-fade-up delay-100" style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
    <h1 style="text-align: center;">Bienvenido</h1>
    
    <ion-item class="premium-input-item">
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="Ingresa tu correo"></ion-input>
    </ion-item>
    
    <ion-item class="premium-input-item">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Tu contraseña secretra"></ion-input>
    </ion-item>
    
    <ion-button expand="block" style="margin-top: 20px;" (click)="login()">Ingresar</ion-button>
  </div>

  <ion-toast
    [isOpen]="isToastOpen"
    message="{{ errorMessage }}"
    duration="2000"
    (didDismiss)="setOpen(false)">
  </ion-toast>
</ion-content>
