<ion-header [translucent]="true">
  <ion-toolbar class="glass-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card class="animate-fade-up delay-100">
    <ion-card-header>
      <ion-card-title>Crear cuenta administrativa o de operador</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
      <ion-item class="premium-input-item">
        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" placeholder="Ingresa un correo vigente"></ion-input>
      </ion-item>
      
      <ion-item class="premium-input-item">
        <ion-label position="stacked">Contraseña (Mínimo 6 caracteres)</ion-label>
        <ion-input type="password" [(ngModel)]="password" placeholder="Crea una contraseña segura"></ion-input>
      </ion-item>

      <ion-item class="premium-input-item">
        <ion-label position="stacked">Rol de Usuario</ion-label>
        <ion-select [(ngModel)]="role" placeholder="Elige un nivel de acceso">
          <ion-select-option value="usuario">Encargado de Stand (Usuario)</ion-select-option>
          <ion-select-option value="supervisor">Supervisor</ion-select-option>
          <ion-select-option value="admin">Administrador (Total)</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" style="margin-top: 20px;" (click)="registerUser()">Crear Usuario</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
